*{
  margin:0px;
  padding:0px;
  position:center;
}
header{
  background-image: url("./img/wallpaper.jpg");
  height: 25vh;
  width:  100%;
  padding:0em;
  margin:0em;
  background-position: center;
}
}
.wrapper{
  display:grid;
  grid-template-columns:;
  grid-gap:.3em;
  height: 100vh;
  width: 100%;
  }

.main-nav{
  list-style:none;
  background-color:#000000;
  padding: 15px ;
  opacity:.80;
  width: 100%;
  height: 40px;
  position:fixed;
}
.main-nav li{
  display: inline-block;
}

.main-nav li a{
  color:white;
  text-decoration:none;
  padding: 15px;
  font-family: raleway, sans-serif;
  font-size: 20px;
}
.home{
    background-image: url(img/background.jpg);
    height: 50vh;
    width:  100%;
    padding:0em;
    margin:0em;
    background-position: center;
}
.obj{
    background-image: url(img/background.jpg);
    height: 50vh;
    width:  100%;
    padding:0em;
    margin:0em;
    background-position: center;
}
.hr{
    background-image: url(img/background.jpg);
    height: 125vh;
    width:  100%;
    padding:0em;
    margin:0em;
    background-position: center;
}
.about{
    background-image: url(img/wallpaper.jpg);
    height: 100vh;
    width:  100%;
    padding:0em;
    margin:0em;
    background-position: center;
}
.contact{
    background-image: url(img/background.jpg);
    height: 20vh;
    width:  100%;
    padding:0em;
    margin:0em;
    background-position: center;
}
.content{
    ;
    color:black;
    font-family: inherit;  
    font-size: 40px;
}
.info{
    ;
    color:black;
    font-family: inherit;  
    font-size: 20px;
}